main{
    margin-top: 1rem;
}
.service-wrapper{

    text-align: center;
    padding: 40px;
    height: max-content;
}

.section-11{
    text-align: center;
    margin-top: 1rem;
}

.about-img{
    width: 100%;

 
}
.about-img-1{
 margin-top: -3rem;
 
}
.about-img img{

    width: 100%;
    height: 600px;
}