

.floating-text-container {
    background-color: var(--primary-color);
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    margin-bottom: 3rem;
    justify-content: space-around;
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.floating-text {
    color: var(--sub-1-color);
    margin-right: 50px;
    font-size: 24px;
    animation: floatText 8s linear infinite;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.floating-text:hover {
    color: var(--text-hover-color);
    transform: scale(1.1);
}

.floating-text:nth-child(1) {
    animation-delay: 0s;
}

.floating-text:nth-child(2) {
    animation-delay: 2s;
}

.floating-text:nth-child(3) {
    animation-delay: 4s;
}

.floating-text:nth-child(4) {
    animation-delay: 6s;
}

@keyframes floatText {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}