main{
  background-color: #fff;
}

.nav-wrapper {
    width: 100%;

    margin: 0 auto;

  
    box-shadow: 1px 1px 10px 1px black;
   
    transition: background-color var(--transition-duration) ease-in-out;
  }
  nav ul li {
    margin-right: 1.5rem;
    position: relative;
}
.logo-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image{
  width: 250px;
  height: auto;
}

nav ul li a {
    text-decoration: none;
    color: #ED1C24;
    font-weight: bold;

    transition: color var(--transition-duration) ease-in-out;
}

nav ul li a:hover {
    color: var(--dark-color);
}

nav ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform var(--transition-duration) ease-in-out;
}

nav ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav p,
#icon,
.icon-1 {
    display: none;
}
  nav {
  
height: 50px;
padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 
  }
  
  nav ul {
   
    display: flex;
    width: 100%;
  
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav p,
  #icon,
  .icon-1 {
    display: none;
  }
  .menu-close{
    background-color: var(--primary-color);
    border: none;
  }
  
  /* Media Query for Mobile Screens */
  @media screen and (max-width: 768px) {
    .nav-wrapper{ 
        padding: 10px;
    }
    .menu {
      position: fixed;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
      transition: right 0.3s ease-in-out;
      top: 0;
      right: -300px;
      left: auto; 
      width: 300px;
      height: 100vh;
      z-index: 999;
      background: white; 
      cursor: pointer;
      transition: transform var(--transition-duration) ease-in-out;
    }
    .menu-close {
      background-color: var(--primary-color);
      border: none;
      color: var(--sub-1-color);
      padding: 10px;
      border-radius: 50%;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      transition: transform var(--transition-duration) ease-in-out;
  }
  
  .menu-close:hover {
      transform: rotate(90deg);
  }
  
    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        transition: transform var(--transition-duration) ease-in-out;
        font-size: 24px;
        color: var(--primary-color);
      }
      .menu-toggle:hover {
        transform: rotate(90deg);
    }
  
    .menu.open {
      right: 0; 
    }
  
    nav ul {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      padding: 20px 0;
    }
  
    nav ul li {
      padding: 10px 0 10px 20px;
      margin-top: 1.5rem;
    }
  
    #icon {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      cursor: pointer;
    }
  
    .icon-1 {
      display: block;
      font-size: 24px;
      cursor: pointer;
      margin-left: 10px;
    }
  
    nav p {
      border-top: 1px solid var(--secondary-color);
      width: 100%;
      display: block;
    }
  }
   
  @media screen and (min-width: 768px){
    .image{
      width: 40%;
      height: auto;
    }
    
  }